@{
    ViewData["Title"] = "LISTA DE ALUMNOS";
}

<div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #d3d3d3;">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccionar fecha
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">03/04/2021</a></li>
                  <li><a class="dropdown-item" href="#">05/04/2021</a></li>
                  <li><a class="dropdown-item" href="#">08/04/2021</a></li>
                </ul>
              </li>
              <form class="d-flex" style="margin-left: 260px; margin-right: 210px;">
                <input class="form-control me-2" type="search" placeholder="BUSCAR ALUMNO" aria-label="Search">
                <!-- <button class="btn btn-outline-secondary" type="submit">Buscar</button> -->
              </form>
              <li class="nav-item">
                <a class="btn btn-secondary" aria-current="page" style="margin-right: 15px; margin-left: 5px;" href="#">GUARDAR</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-secondary" aria-current="page" style="margin-left: 15px;" href="#">CANCELAR</a>
              </li>
            </ul>           
          </div>
        </div>
      </nav>

      <div style="margin-top: 40px;">
        <table>
          <thead>
            <tr>
              <th style="width: 150px; text-align: center;">Código</th>
              <th>Apellidos y Nombres</th>
              <th style="text-align: center;">Asistencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;">75578462</td>
              <td>Garcia Jayo, Juan Camilo</td>
              <td style="padding-top: 10px;">
                <div style="text-align: center;">
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="btnradio1">Asistió</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-danger" for="btnradio2">Faltó</label>
                    
                    <!-- MODAL DE JUSTIFICACIÓN -->
                    <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                      <input type="radio" class="btn-check" name="btnradio"  autocomplete="off" >
                      <label>Justificó</label>
                    </button>                     


                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="text-align: center;">75147812</td>
              <td>Martinez Sanchez, Maria Mercedes</td>
              <td style="padding-top: 10px;">
                <div style="text-align: center;">
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    
                    <label class="btn btn-outline-success" for="btnradioo1">Asistió</label>
                  
                    
                    <label class="btn btn-outline-danger" for="btnradioo2">Faltó</label>
                    
                    <!-- MODAL DE JUSTIFICACIÓN ¡ESTE ES EL QUE ESTÁ MAL NO TE VAYAS A WEBEAR CTMR :D -->       
                    <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                      
                      <label>Justificó</label>
                    </button> 
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="text-align: center;">75145632</td>
              <td>Suarez Vertiz, Pedro Luis</td>
              <td style="padding-top: 10px;">
                <div style="text-align: center;">
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    
                    <label class="btn btn-outline-success" for="btnradiooo1">Asistió</label>
                  
                    
                    <label class="btn btn-outline-danger" for="btnradiooo2">Faltó</label>
                    
                    <!-- MODAL DE JUSTIFICACIÓN -->
                    <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                      s
                      <label >Justificó</label>
                    </button>  
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">JUSTIFICACIÓN DE INASISTENCIA</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                <label for="message-text" class="col-form-label">¿Cúal fue el motivo?</label>
                <textarea class="form-control" id="message-text"></textarea>
            </div>
            </form>
        </div>
        <div class="modal-footer">
          <a href="lis_alu.html"><button type="button" class="btn btn-warning">JUSTIFICAR</button></a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CANCELAR</button>
        </div>
      </div>
    </div>
    </div>