<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Learning Face</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <div style="background: #521717;">
            <div class="row">
                <div class="col-lg-11 col-sm-4">
                    <a asp-action="index" style="color: #FFFFFF;"><img src="~/img/learning_face.png" height="38px" width="38px" style="margin-top: 4px; margin-left: 4px; margin-bottom: 4px; margin-right: 8px;"/>LEARNING FACE</a>
                </div>
                <div class="col-lg-1 col-sm-8">
                    <div style="text-align: right; margin-top: 4px; margin-right: 4px;">
                        <div class="dropdown" style="text-align: right; margin-top: 4px; margin-right: 4px; padding-bottom: 4px;">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/img/usu.png" height="20px" width="20px">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" asp-action="config">Configuración</a></li>
                                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="text-align: center;">
            &copy; 2021 - Learning Face by IoT' Guardians Group
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
